
*{
    margin: 0;
    padding: 0;
}

section{
    margin-top: 100px;
}

.eid-zakat{
    background-image: linear-gradient(to right, rgba(22, 22, 22, 0.8), rgba(0,0,0,0)),url(image/eid-al-adha.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.donate-now{
    padding-left:10% ;
    color: white;
    width: 500px;
}

.donate-now h1{
    padding-top: 200px;
    margin-bottom: 40px;
    font-size: 60px;
}

.donate-now p{
    margin-bottom: 40px;
    font-size: 22px;
}

.btn{
    margin-bottom: 200px;
    padding: 15px 50px;
    border-radius: 5px;
    background-color: tomato;
    border: none;
    font-size: 18px;
    color: white;
}



.market-view .main-market{
    display: flex;
    padding: 0 10%;

}

.market-view .main-market .donation{
    padding-top: 80px;
    margin-right: 40px;
}

.market-view .main-market .donation h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.market-view .main-market .donation p{
    margin-bottom: 20px;
    font-size: 18px;
}

.market-view .main-market .donation button a{
    padding: 20px 50px;
}

.btn-explore{
    padding: 15px 50px;
    border-radius: 5px;
    background-color: tomato;
    border: none;
    font-size: 18px;
    color: white;
}

.market-view .main-market .video iframe{
    border-radius: 5px;
}

.need-suvive .importent{
    display: flex;
    padding: 0px 10%;
}

.need-suvive .importent .image{
    margin-right: 100px;
    
}

.need-suvive .importent .image img{
    border-radius: 5px;
}

.need-suvive .importent .suvive{
    padding-top: 70px;
    
}

.need-suvive .importent .suvive h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.need-suvive .importent .suvive p{
    margin-bottom: 20px;
    font-size: 19px;
}

.direct-help .title{
    width: 700px;
    text-align: center;
    margin-left: 300px;
}

.direct-help .title h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.direct-help .title p{
    font-size: 20px;
    margin-bottom: 30px;
}

.direct-help .help-other{
    padding: 0 13%;
}

.direct-help .help-other .help{
    background-color: #f3b0b8;
    width: 400px;
    padding: 30px 30px;
    border-radius: 5px;
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
}


.direct-help .help-other .help .des{
    margin-left: 30px;
}

.direct-help .help-other .help .des h3{
    font-size: 22px;
    margin-bottom: 8px;
}

.direct-help .help-other .help .des p{
    font-size: 18px;
}

.direct-help .help-other{
    display: flex;
}


.picture .wrapper-picture{
    display: flex;
    padding: 0 10%;
}

.picture .wrapper-picture .sinlge-pic{
    margin-right: 50px;
}

.picture .wrapper-picture .sinlge-pic img{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

